# Node.js
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs/

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db
text.txt